apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-toolkit
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    path: helm
    repoURL: https://github.com/zhaomengru2015/devops-toolkit.git
    targetRevision: HEAD
    helm:
      values: |
        image:
          tag: 2.9.18
        ingress:
          host: devops-toolkit.127.0.0.1.xip.io
      version: v3
  destination:
    namespace: production
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
